body {
    background-color: darkslategrey;
}

.footer {
  background-color:  #7cf0b4;
}

.headpic {
  background-image: url("images/bghead2.jpg");
  background-size: cover;
}

.form_panel {
  background-color:  #7cf0b4;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.mybutton {
  display: block;
  margin: auto;
}

.navbar {
  background-color: #7cf0b4;
  border-radius: 5px;
}

.userinfo {
  padding: 5px 0 5px 20px;
  font-size: 12px;
  background-color: rgb(240, 238, 201);
}